* {
    box-sizing: border-box;
}
body
{
    font-size:16px;
    font-family: sans-serif;
}
header
{
    font-size:150%;
    font-family: 'Roboto', sans-serif;
}
p,li
{
    line-height: 1.25em;
    text-align: justify;
    color: #333;
    letter-spacing: .05em;
}
li
{
    margin-bottom: 2%;
}
#full-section:after
{
    content: "";
    display: table;
    clear: both;
}
#navbar
{
    float: left;
    padding: 10px;
    width:30%;
    background-color: #f1f1f1;
}
#main-doc
{
    width:70%;
    margin-left:30%;
    margin-top: 0;
    padding:2%;
}
.nav-link
{
    display:block;
    color:#333;
    font-size:120%;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 3%;
}
.nav-link:first-of-type
{
    margin-top:2%;
}
.nav-link::after
{
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin-bottom: 5%;
    background: #6ff;
}
.code-snippets
{
    background-color:black;
    color:white;
    width:50%;
    font-family: Courier, 'New Courier', monospace;
    margin:0 auto;
}
